trigger:
  branches:
    include:
      - main
      - feature/*

pr:
  branches:
    include:
      - main

pool:
  vmImage: 'ubuntu-latest'

stages:
- stage: Build_Test
  displayName: Build & Test
  jobs:
  - job: backend_tests
    displayName: Run backend pytest suite
    steps:
    - task: UsePythonVersion@0
      inputs:
        versionSpec: '3.11'

    - script: |
        bash devops/scripts/run_tests.sh
      displayName: Install deps & run pytest
