# Python
__pycache__/
*.pyc
*.pyo

# Virtual environments
.venv/
venv/
app/.venv/

# Environment files
.env
*.env

# Coverage
.coverage
htmlcov/

# Bytecode caches
*/__pycache__/

# VSCode
.vscode/

# MacOS stuff
.DS_Store

# Build artifacts
dist/
build/
*.egg-info/

# Docker
*.log
